@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #c0c0c0;
  overflow: hidden;
}

.calApp {
  font-family: "Poppins", sans-serif;
  width: 60%;
  margin: 1.2rem auto;
  height: 100%;
}

.renderResult {
  background-color: grey;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.result {
  color: #fff;
  text-align: end;
}

.inputs {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0;
}

.secondgrid {
  grid-template-columns: 2fr 1fr 1fr;
}

input {
  padding: 1.2rem  2.2rem;
  outline: none;
  border: 1px solid #a7a7a7;
  background-color: #fbfbfb;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.mathSigns {
  background-color: orange;
}
